.instruction-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-purple);
    color: var(--white);
    transition: opacity 0.5s ease;
    font-size: 20px;
}

.instruction-container > p {
    background-color: var(--primary-purple);
    margin: 20px;
    transition: opacity 0.5s ease;
}

.instruction-container > p > strong {
    background-color: var(--primary-purple);
    color: var(--white);
}

.instruction-container > ul > li, strong {
    background-color: var(--primary-purple);
    color: var(--white);
}
